<div class="g-page-container" style="height: unset !important">
  <div class="pr-category">Your Cart</div>

  <!-- Loading spinner -->
  <mat-spinner *ngIf="!(loaded$ | async)" class="loading-spinner"></mat-spinner>

  <mat-radio-group aria-label="Select an option">
    <div>
      <div class="shopping-descr" style="margin-bottom: 8px">
        <table class="table table-hover" mdbTable>
          <thead>
            <tr>
              <th>Image</th>
              <th>Product</th>
              <th>Price</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of productsInCart$ | async">
              <th scope="row" class="modal-img-row">
                <!-- TODO: MAKE THUMBNAIL -->
                <img
                  class="deck-thumb"
                  src="{{ cdnBaseUrl }}/decks/deck-{{ item.id }}.jpg"
                />
              </th>
              <td>
                <span style="font-weight: bold">{{ item.title }}</span> <br />
                {{ item.description || item.colorsText }}
              </td>
              <td>${{ item.price }}</td>
              <td style="text-align: center">
                <a (click)="removeItemFromCart(item)">
                  <mat-icon mdbWavesEffect>clear</mat-icon>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- <mat-radio-group > -->

        <div>
          <th scope="row"></th>
          <td style="font-weight: bold; font-size: 16px; text-align: center">
            <div>SELECT SHIPPING OR PICKUP:</div>
          </td>
          <td></td>
          <td style="text-align: center"></td>
        </div>
        <table class="table table-hover" mdbTable>
          <tbody>
            <tr>
              <th scope="row" class="modal-img-row">
                <!-- <mat-radio-button
                  class="example-radio-button"
                  [value]="'Shipping'"
                >
                </mat-radio-button> -->
              </th>
              <td>
                <mat-radio-button value="1"
                  >Shipping (Flat Rate)</mat-radio-button
                >
              </td>
              <td>$9.99</td>
              <td style="text-align: center"></td>
            </tr>

            <tr>
              <th scope="row" class="modal-img-row">
                <!-- <mat-radio-button value="2">Select</mat-radio-button> -->
                <!-- <mat-icon
                style="
                  width: 100%;
                  text-align: center;
                  font-size: 32px;
                  color: #55bfff;
                "
                >local_shipping</mat-icon
              > -->
              </th>
              <td>
                <mat-radio-button value="1">Pickup (Free)</mat-radio-button>
              </td>
              <td>$0</td>
              <td style="text-align: center"></td>
            </tr>
            <!-- </mat-radio-group> -->
            <tr>
              <th scope="row"></th>
              <td class="total-text">
                Subtotal <br /><span class="total-sub">Tax not included</span>
              </td>
              <td class="total-text">${{ cartTotal$ | async }}</td>
              <td style="text-align: center"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-radio-group>

  <div class="discs-con">
    <!-- REFUND DISCLAIMER -->
    <div class="disclaimer-container">
      <mat-icon style="margin-right: 4px">monetization_on</mat-icon>
      <div class="lbl">RETURNS</div>
    </div>
    <div class="deck-sum-item">
      FYI: We have a no return policy on our skateboard decks, but
      <a target="_blank" href="https://blueyshop.com/contact"
        >send us a message here</a
      >
      if you have any questions or concerns! We are happy to work with you.
    </div>

    <!-- SHIPPING DISCLAIMER -->
    <div class="disclaimer-container" style="margin-top: 6px !important">
      <mat-icon style="margin-right: 4px">local_shipping</mat-icon>
      <div class="lbl">SHIPPING NOTICE</div>
    </div>
    <div class="deck-sum-item">
      Please note that we are currently unable to ship to PO and PSC boxes.
      Please provide a UPS-valid street address to receive your art.
    </div>

    <!-- CHECKBOX DISCLAIMER -->
    <div class="disclaimer-container" style="margin-top: 6px !important">
      <mat-icon style="margin-right: 4px">error</mat-icon>
      <div class="lbl">DISCLAIMER</div>
    </div>
    <div style="display: flex; align-items: center">
      <form [formGroup]="formGroup" style="flex: 1; text-align: center">
        <mat-checkbox
          formControlName="checked"
          class="example-margin"
          style="text-align: center"
        ></mat-checkbox>
      </form>
      <div style="flex: 7.5 !important; color: gray; font-weight: 100">
        By checking this box, I acknowledge that Bluey LLC is not responsible
        for any injuries that may occur while using its products. Bluey products
        are intended to be used as art only.
      </div>
    </div>

    <button
      *ngIf="productsInCart$ | async as cartItems"
      [disabled]="
        (cartTotal$ | async) <= 0 || formGroup.get('checked').value == false
      "
      mdbBtn
      color="success"
      class="waves-light"
      mdbWavesEffect
      style="width: 100%; margin-top: 22px"
      (click)="onCheckoutClick(cartItems)"
    >
      Checkout
    </button>
  </div>
</div>

<!-- TODO: Cleanup footer -->
<app-footer
  style="width: 100%; bottom: -64px; left: 0; overflow: hidden"
></app-footer>
