<mat-toolbar class="navbar-container">
    <div class="low-opacity"></div>
    <mat-icon class="temp-title op">dashboard</mat-icon>

    <!-- Desktop Menu -->
    <ng-container *ngIf="(screenSize$ | async) !== screenSizes.XSmall; else mobile">
        <div class="nav-button">
            <span>Shop</span>
            <span class='line'></span>
        </div>
        <div class="nav-button">
            <span>About Us</span>
            <span class='line'></span>
        </div>
        <div class="nav-button">
            <span>Contact</span>
            <span class='line'></span>
        </div>
    </ng-container>

    <!-- Mobile Menu -->
    <ng-template #mobile>
        <div class="nav-button mobile">
            <mat-icon class="hamburger">menu</mat-icon>
        </div>
    </ng-template>
</mat-toolbar>



    <!-- <span class='example-spacer'></span>
    <mat-icon>shopping_cart</mat-icon>
    <span>({{ (productsInCart$ | async)?.length }})</span> -->
