@import "../../../../variables";

.bluey-icon-nav {
  width: 48px;
  position: absolute !important;
  top: 9px;
}

.example-spacer {
  flex: 1 1 auto;
}

.navbar-container {
  position: fixed;
  z-index: 999;
  background: transparent;
  padding: 0 !important;
  height: $navbar-height;

  display: flex;
  justify-content: flex-end;
}

.low-opacity {
  width: 100%;
  background: black;
  opacity: 0.2;
  height: 100%;
  position: absolute;
}

.op {
  opacity: 1 !important;
  z-index: 1000;
}

.temp-title {
  color: white;
  font-size: 51px;
  margin-top: -29px;
  padding-left: 16px;
  margin-right: auto;
}

.hamburger {
  font-size: 38px;
  vertical-align: middle;
  width: 38px;
  height: 38px;
}

.mobile {
  width: 24%;
  margin-right: 0px;
  text-align: center;
}

.shop-link {
  margin-right: 42px;
  overflow: visible !important; // showing badge fully
  // border-radius: 14px !important;
}

/* ----------------------- Overwritten Boostrap Styles ---------------------- */
.nav-link {
  background: transparent !important;
  font-family: $site-font, sans-serif;
  font-weight: $regular-weight !important;

  &.cart {
    display: flex !important;
  }
}

.nav-link.active {
  background: $active-route-color !important;
}

.nav-link:hover {
  color: black !important;

  &.selected-color {
    color: $site-primary-color !important;
  }
}

.cart-icon-mobile {
  display: none;
  color: white;
  margin-left: auto;
}

@media only screen and (max-width: 991px) {
  .cart-icon-mobile {
    display: block;
  }
}
.bluey-icon {
  position: absolute;
  top: 3px;
  /* font-size: 37px; */
  left: 10px;
}
/* --------------------------------- ng-deep -------------------------------- */
::ng-deep .navCss nav {
  background-color: $site-primary-color;
}

::ng-deep .mat-badge-content {
  margin-top: 8px;
  margin-left: 8px;
  background: $mdb-success;
}
