<!--Header-->
<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">
    {{
      (viewingSummary$ | async) ? "CUSTOM DECK SUMMARY" : "CREATE A CUSTOM DECK"
    }}
  </h4>
  <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
    (click)="modalRef.hide()"
  >
    <span aria-hidden="true">×</span>
  </button>
</div>
<!--Body-->
<div class="modal-body">
  <!-- ----------------------------------------------------------------------- -->
  <!--                                  FORM                                   -->
  <!-- ----------------------------------------------------------------------- -->
  <div
    [ngClass]="
      (viewingSummary$ | async) === true ? 'hidden' : 'custom-form-ctr'
    "
    class=""
  >
    <form [formGroup]="customDeckForm">
      <div class="lbl">Deck Details</div>
      <!-- Deck Name -->
      <mat-form-field appearance="outline" [style.width.%]="100">
        <mat-label>Name Your Deck</mat-label>
        <input
          [formControl]="deckTitle"
          maxlength="36"
          required
          #nameinpt
          matInput
          placeholder="Be creative!"
        />
        <mat-hint align="end">{{ nameinpt.value?.length || 0 }}/36</mat-hint>

        <mat-error *ngIf="deckTitle.invalid">{{
          getDeckNamErrorMsg()
        }}</mat-error>
      </mat-form-field>

      <!-- Deck Description -->
      <mat-form-field appearance="outline" [style.width.%]="100">
        <mat-label>Describe Your Deck</mat-label>
        <textarea
          rows="5"
          [maxLength]="200"
          matInput
          #desc
          [formControl]="deckDescr"
          placeholder="(Optional) What's your look and feel? For example: straight lines, swirly, like another deck..."
        ></textarea>
        <mat-hint class="char-count"
          >{{ desc.value?.length || 0 }}/200</mat-hint
        >
      </mat-form-field>

      <!-- Color Selection -->
      <div class="lbl" style="margin-top: -8px">Color Selection</div>
      <div style="font-weight: 100; margin-left: 3px; color: gray">
        Select up to 5 colors (minimum of 2):
      </div>

      <div class="color-container">
        <ng-container *ngFor="let colorRow of colorRows">
          <div style="font-weight: 400; margin-left: 3px; color: gray">
            {{ colorRow.title }}:
          </div>
          <div style="display: flex">
            <color-circle
              *ngFor="let c of colorRow.arr"
              (onChange)="handleChange($event)"
              [colors]="[c]"
            ></color-circle>
          </div>
        </ng-container>
      </div>
    </form>
  </div>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 SUMMARY                                 -->
  <!-- ----------------------------------------------------------------------- -->
  <div *ngIf="(viewingSummary$ | async) === true">
    <div class="lbl">Deck Name</div>
    <div class="deck-sum-item">
      {{ deckTitle.value }}
    </div>
    <div class="lbl">Deck Description</div>
    <div class="deck-sum-item">
      {{ deckDescr.value }}
    </div>
    <div class="lbl">Selected Colors</div>
    <div style="background: #f5f5f5; padding: 11px">
      <ng-container *ngFor="let color of selectedColors">
        <div>{{ getColorName(color) }}</div>
        <div
          style="
            width: 100%;
            height: 25px;
            margin-bottom: 16px;
            margin-top: 5px;
          "
          [ngStyle]="{ background: color }"
        ></div>
      </ng-container>
    </div>
    <div class="disclaimer-container">
      <mat-icon style="margin-right: 4px">error</mat-icon>
      <div class="lbl">DISCLAIMER</div>
    </div>
    <div class="deck-sum-item">
      We cannot guarantee that your board design will turn out exactly as you
      envision, but we will follow your guidelines and do our best.
    </div>
    <div class="disclaimer-container">
      <mat-icon style="margin-right: 4px">local_shipping</mat-icon>
      <div class="lbl">SHIPPING</div>
    </div>
    <div class="deck-sum-item">
      We will ship out your custom deck within 1-2 weeks of receiving the order.
      Shipping times may vary depending on your location.
    </div>

    <div class="disclaimer-container">
      <mat-icon style="margin-right: 4px">monetization_on</mat-icon>
      <div class="lbl">RETURNS</div>
    </div>
    <div class="deck-sum-item">
      We have a no return policy, but
      <a target="_blank" href="https://blueyshop.com/contact"
        >send us a message here</a
      >
      if you have any questions or concerns!
    </div>
  </div>
</div>
<!--Footer-->
<div class="modal-footer footer-stick">
  <button
    *ngIf="(viewingSummary$ | async) === true"
    type="button"
    mdbBtn
    color="success"
    outline="true"
    class="waves-light"
    mdbWavesEffect
    data-dismiss="modal"
    (click)="onBack()"
  >
    Back
  </button>

  <button
    *ngIf="customDeckItem$ | async as customDeck"
    mdbBtn
    color="success"
    class="waves-light"
    mdbWavesEffect
    (click)="handleActionButton(customDeck)"
    [disabled]="
      customDeckForm.invalid === true ||
      selectedColors.length < 2 ||
      selectedColors.length > 5
    "
  >
    {{ (viewingSummary$ | async) === true ? "Add to Cart" : "Next: Summary" }}
  </button>
</div>
