<div class="video-container" id="mob-vid">
  <!-- Desktop -->
  <ng-container
    *ngIf="(screenSize$ | async) !== screenSizes.XSmall; else mobile"
  >
    <div class="video-player opacity-changer"></div>
    <div class="opacity-changer" id="top"></div>
    <video
      playsinline
      autoplay
      loop
      [muted]="true"
      muted
      class="video-player-2"
    >
      <source src="{{ videoUrl }}" type="video/mp4" />
    </video>

    <div class="landing-title-container">
      <span class="heading glow">Bluey Art Shop</span>
      <span class="descr">POUR-PAINTED ACRYLIC ART PIECES</span>
      <span class="descr">HANDCRAFTED IN LOUISVILLE, KY</span>
    </div>
  </ng-container>

  <!-- Mobile -->
  <ng-template #mobile>
    <div class="mobile-landing-container">
      <img class="mobile-video" src="{{ deckBgMobile }}" />
      <div class="mobile-title">
        <span class="heading glow" style="font-size: 74px">Bluey</span>
        <span class="heading glow" style="font-size: 74px; margin-bottom: 25px"
          >Art Shop</span
        >
        <span class="descr">POUR-PAINTED ACRYLIC ART PIECES</span>
        <span class="descr">HANDCRAFTED IN LOUISVILLE, KY</span>
      </div>

      <button
        mdbBtn
        color="success"
        class="waves-light shop-bluey-but"
        mdbWavesEffect
        routerLink="/shop"
        routerLinkActive="active"
      >
        VIEW PRODUCTS
      </button>
    </div>
  </ng-template>
</div>
