@import '../../../../variables';
@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

.video-container {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.video-player {
    width: 100%;
    position: absolute;

    background-size: 100% 100%;
    top: 0px;
    left: 0px; /* fixed to left. Replace it by right if you want.*/
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.landing-title {
    position: absolute;
    font-family: 'Grandstander', cursive;
    font-size: 76px;
    color: white;
    text-align: center;
}