@import "../../../../variables";

.video-container {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.video-player {
  width: 100%;
  position: absolute;

  background-size: 100% 100%;
  top: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;

  left: -26%;

  &.solid-bg {
    background: lightslategray;
  }
}

@media only screen and (max-width: 1147px) {
  .video-player {
    left: -37%;
  }
}

@media only screen and (max-width: 1020px) {
  .video-player {
    left: -50%;
  }
}

@media only screen and (max-width: 992px) {
  .video-player {
    left: -83%;
  }
}

.opacity-changer {
  width: 100%;
  position: absolute;

  background-size: 100% 100%;
  top: 0px;
  // left: 0px; /* fixed to left. Replace it by right if you want.*/
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;

  background: black;
  z-index: 99;
  opacity: 0;
}

.landing-title-container {
  position: absolute;
  bottom: 6%;
  left: 4%;
  font-family: "Raleway", sans-serif;
  font-size: 109px;
  color: white;

  .heading {
    display: block;
    margin-left: -7px;
    margin-bottom: 16px;
  }

  .descr {
    display: block;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
  }
}
