<div class="video-container" id="mob-vid">
  <!-- Desktop -->
  <div class="video-player opacity-changer"></div>
  <div class="opacity-changer" id="top"></div>
  <video playsinline autoplay loop [muted]="true" muted class="video-player-2">
    <source src="{{ videoUrl }}" type="video/mp4" />
  </video>

  <div class="landing-title-container" style="z-index: 1000">
    <div class="artshop">
      <span style="padding: 10px" class="heading glow">BLUEY ART SHOP</span>
    </div>

    <button
      style="
        z-index: 100 !important;
        width: 90%;
        font-size: 22px;
        font-weight: 900;
      "
      mdbBtn
      type="button"
      color="success"
      outline="true"
      mdbWavesEffect
      routerLink="/shop"
      routerLinkActive="active"
    >
      VIEW SKATEBOARDS
    </button>
  </div>
</div>
