<div class="g-page-container">
  <div class="pr-category">Thank you for your order!</div>

  <div class="shopping-descr" style="margin-bottom: 8px">
    <span style="margin-bottom: 8px; display: block"
      >We are so grateful for your business.</span
    >

    <span style="margin-bottom: 8px; display: block"
      >You should receive an email shortly from
      <a href="mailto:blueyshop@gmail.com">blueyshop@gmail.com</a> containing
      order information and status. Never hesitate to reach out to us if you
      have any questions regarding your shipment.</span
    >

    <span>Please find your order information below:</span>
  </div>

  <!-- TODO: add icons -->
  <div class="success-container">
    <span class="order-info">Order Number:</span>
    <span class="order-info">Name:</span>
    <span class="order-info">Shipping Address:</span>
  </div>
</div>
<app-footer></app-footer>
