<div class="g-page-container">
  <div class="pr-category">Thank you for your order!</div>

  <div class="shopping-descr" style="margin-bottom: 8px">
    <span style="margin-bottom: 8px; display: block"
      >We are so grateful for your business.</span
    >

    <span style="margin-bottom: 8px; display: block"
      >An email from
      <a href="mailto:blueyshop@gmail.com">blueyshop@gmail.com</a> was sent to
      the email you provided during Stripe checkout. It contains order
      information and your receipt. Once we have a tracking number for your
      shipment, we will send it to you.</span
    >

    <span style="margin-bottom: 8px; display: block">Thank you!</span>
    <span>- Andrew, Sophie, and Steve</span>
  </div>

  <!-- TODO: add icons -->
  <!-- <div class="success-container">
    <span class="order-info">Order Number:</span>
    <span class="order-info">Name:</span>
    <span class="order-info">Shipping Address:</span>
  </div> -->
</div>
<app-footer></app-footer>
