.pr-category {
  min-height: 64px;
  // font-family: $site-font, sans-serif;
  padding: 16px;
  font-size: 2.5rem;
  text-align: center;
}

.success-container {
  padding: 0 12% 0 12%;
  margin-top: 1rem;
}

.shopping-descr {
  padding: 0 10% 0 10%;
  color: gray;
  font-weight: 300;
}

.order-info {
  display: block;
  margin-bottom: 8px;
}
