<div class="bottom-container">
    <div class="row equal">
        <app-product-preview 
            class="col-md item-preview"
            [name]="'SKATEBOARDS'">
        </app-product-preview>
        <app-product-preview 
            class="col-md item-preview"
            [name]="'PHONE CASES'">
        </app-product-preview>
    </div>
    <div class="row equal">
        <app-product-preview 
            class="col-md item-preview"
            [name]="'PORTRAITS'">
        </app-product-preview>
        <app-product-preview 
            class="col-md item-preview"
            [name]="'PRINTS'">
        </app-product-preview>
    </div>
</div>

