<div class="featured-decks">
    <span>FEATURED DECKS</span>
    <div class="btn-container">
        <button routerLink="/shop" routerLinkActive="active" class="view-all" mdbBtn size="sm" type="button" color="white" outline="true" mdbWavesEffect>VIEW ALL</button>
    </div>
</div>

<div class="bottom-container">
    <div class="row equal">
        <app-product-preview 
            class="col-md item-preview skate-img"
        [name]="'DECK #1'">
        </app-product-preview>
        <app-product-preview 
            class="col-md item-preview"
            [name]="'DECK #2'">
        </app-product-preview>
    </div>
    <div class="row equal">
        <app-product-preview 
            class="col-md item-preview"
            [name]="'DECK #3'">
        </app-product-preview>
        <app-product-preview 
            class="col-md item-preview"
            [name]="'DECK #4'">
        </app-product-preview>
    </div>
</div>

