@import "../../../../variables";

.deck-thumb {
  width: 91%;
}

.modal-img-row {
  width: 21%;
}

.total-text {
  font-weight: 700;
  font-size: 18px;
}

.total-sub {
  font-weight: 300;
  font-size: 11px;
  color: $active-route-color;
}

.modal-body {
}

.deck-sum-item {
  margin-bottom: 6px;
  margin-top: -6px;
  color: gray;
  font-weight: 300;
  margin-left: 28px;
  margin-top: 1px;
}

.disclaimer-container {
  display: flex;
  align-content: center;
  line-height: 25px;
  margin-top: 11px;
  justify-content: left;
  width: 100%;
}

.discs-con {
  padding: 0 15px 0 15px;
  margin-bottom: 15px;
  margin-top: -15px;
}

// .footer-stick {
//   position: sticky !important;
//   bottom: 0 !important;
//   background: white !important;
//   z-index: 99999 !important;
// }
