<!--Header-->
<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Your cart</h4>
  <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
    (click)="modalRef.hide()"
  >
    <span aria-hidden="true">×</span>
  </button>
</div>
<!--Body-->
<div class="modal-body">
  <table class="table table-hover" mdbTable>
    <thead>
      <tr>
        <th>#</th>
        <th>Product</th>
        <th>Price</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productsInCart$ | async">
        <th scope="row">1</th>
        <td>{{ item.title }}</td>
        <td>${{ item.price }}</td>
        <td>
          <a>
            <mdb-icon fas icon="times"></mdb-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!--Footer-->
<div class="modal-footer">
  <button
    type="button"
    mdbBtn
    color="primary"
    outline="true"
    class="waves-light"
    mdbWavesEffect
    data-dismiss="modal"
    (click)="modalRef.hide()"
  >
    Close
  </button>
  <button mdbBtn color="primary" class="waves-light" mdbWavesEffect>
    Checkout
  </button>
</div>
