@import "../variables";

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.loading {
  font-family: $site-font, sans-serif;
  color: white;
  font-weight: 300;
}

.coming-soon-container {
  background: #55bfff;
  height: 100vh;
  width: 100vw;

  text-align: center;
  font-size: 46px;
  padding: 24px;
}

.soon-item {
  color: white;
}
