<!--Header-->
<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">
    {{ content.title }} - ${{ content.productObject.price }}
  </h4>
  <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
    (click)="modalRef.hide()"
  >
    <span aria-hidden="true">×</span>
  </button>
</div>
<!--Body-->
<div class="modal-body">
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item *ngFor="let picIndex of ['', 'a', 'b']">
      <div class="view w-100">
        <img
          class="d-block w-100"
          src="{{ cdnBaseUrl }}/decks/deck-{{ content.id }}{{ picIndex }}.jpg"
          alt="First slide"
        />
        <div class="mask waves-light" mdbWavesEffect></div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img
          class="d-block w-100"
          src="{{ cdnBaseUrl }}/decks/deck-back.jpg"
          alt="First slide"
        />
        <div class="mask waves-light" mdbWavesEffect></div>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
<!--Footer-->
<div class="modal-footer">
  <button
    type="button"
    mdbBtn
    color="success"
    outline="true"
    class="waves-light"
    mdbWavesEffect
    data-dismiss="modal"
    (click)="modalRef.hide()"
  >
    Close
  </button>
  <button
    *ngIf="(isInCart$ | async) === false"
    (click)="addToCartClicked(content?.productObject)"
    mdbBtn
    color="success"
    class="waves-light"
    mdbWavesEffect
  >
    <div class="btn-txt-con">
      <mat-icon
        *ngIf="(isInCart$ | async) === false"
        style="
          font-size: 20px;
          position: absolute;
          left: -23px;
          top: -2px;
          margin-top: 0px !important;
        "
        class="view-more-icon"
        >add_shopping_cart</mat-icon
      >
    </div>
    <span style="margin-left: 16px">Add to Cart</span>
  </button>

  <button
    *ngIf="(isInCart$ | async) === true"
    (click)="removeFromCartClicked(content?.productObject)"
    mdbBtn
    color="danger"
    class="waves-light"
    mdbWavesEffect
  >
    <div class="btn-txt-con">
      <mat-icon
        *ngIf="(isInCart$ | async) === true"
        style="
          font-size: 20px;
          position: absolute;
          left: -23px;
          top: -2px;
          margin-top: 0px !important;
        "
        class="view-more-icon"
        >remove_shopping_cart</mat-icon
      >
    </div>
    <span style="margin-left: 16px"> Remove from Cart</span>
  </button>
</div>
