.footer-container {
    background: #1c2332;
    color: rgba(0,0,0,.87);
    height: 150px;
    padding-left: 8px;
    font-size: 8px;
    display: flex;
    align-content: center;
    line-height: 19px;
}

.cr {
    font-size: 12px;
    margin-top: 2px;
    color: white;
}

.ct {
    line-height: 19px;
    color: white;
    margin-left: -9px;
}