<!-- Footer -->
<footer class="page-footer font-small blue pt-4 bluey-custom">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Bluey Art Shop</h5>
        <p>Thanks for dropping by. <br />Love, Andrew, Sophie, & Steve.</p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Social Media</h5>

        <ul
          class="list-unstyled bluey-social-con"
          style="display: flex !important"
        >
          <li class="bluey-icon-soc" style="width: 25px">
            <a href="#!" mdbWavesEffect
              ><i class="fab fa-facebook-f left bluey-social"></i
            ></a>
          </li>
          <li class="bluey-icon-soc">
            <a href="#!" mdbWavesEffect
              ><i class="fab fa-twitter left bluey-social"></i
            ></a>
          </li>
          <li class="bluey-icon-soc">
            <a
              target="”_blank”"
              href="https://instagram.com/blueyboards"
              mdbWavesEffect
              ><i class="fab fa-instagram left bluey-social"></i
            ></a>
          </li>
          <li class="bluey-icon-soc">
            <a href="#!" mdbWavesEffect
              ><i class="fas fa-envelope left bluey-social"></i
            ></a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a href="https://blueyshop.com/"> blueyshop.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
