<div class="g-page-container" style="text-align: center; overflow-x: hidden">
  <div class="pr-category">About Us</div>
  <img src="{{ cdnBaseUrl }}/about/squad-hq.jpg" class="family-pic" />
  <div class="who-container">
    <span class="who-title">Who Are We?</span>
    <span class="who-blurb"
      >Bluey Shop is an art company based out of Louisville, Kentucky. Created
      in September of 2020, we initially aimed to sell our work locally to
      friends and family, but with the help of our website-making wizard,
      Steven, our art can reach you all across the nation!
    </span>
  </div>

  <div class="who-container">
    <span class="who-title">What Do We Do?</span>
    <span class="who-blurb"
      >We paint skateboards. Every board is completely unique and hand poured by
      one of us. We use acrylic paints and various pouring techniques for an
      abstract, mesmerising design and apply a clear coat for a shiny finish.
      Our designs don’t always turn out exactly as planned, so we learned to let
      the paint guide the way!
    </span>
  </div>

  <div class="who-container">
    <span class="who-title">Art or Skateboard?</span>
    <span class="who-blurb"
      >Steven and Andrew share a passion for skateboarding that has led to years
      of experience for both of them. After spending many hours riding these
      boards, we can confirm that they are good quality and durable to skate.
      They are made of 7-ply, 100% Canadian Maple wood. It’s up to you whether
      or not your board should be admired on the wall or the pavement.
    </span>
  </div>

  <div class="who-container" style="margin-bottom: 54px">
    <span class="who-title" style="margin-bottom: 8px">Meet the Team</span>
    <div class="container fluid team-con">
      <div class="row centered">
        <div class="col-md person-con ml-2 mr-2">
          <img src="{{ cdnBaseUrl }}/about/sophie.png" class="person-pic" />
          <div class="person-name">Sophie (Sophocles)</div>
          <div class="person-descr">Artist</div>
        </div>
        <div class="col-md person-con ml-2 mr-2">
          <img src="{{ cdnBaseUrl }}/about/andrew.png" class="person-pic" />
          <div class="person-name">Andrew (Bo-Bandy)</div>
          <div class="person-descr">Artist</div>
        </div>
        <div class="col-md person-con ml-2 mr-2">
          <img src="{{ cdnBaseUrl }}/about/steven.png" class="person-pic" />
          <div class="person-name">Steven (Bubba Nuts)</div>
          <div class="person-descr">Web Developer</div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
