<div class="g-page-container">
  <div class="jumbo-featured">
    <div class="featured">
      <div class="picture-ph pic">
        Picture here or maybe a slideshow type thing
      </div>
    </div>
    <div class="featured">
      <div class="picture-ph">Content about new deck here</div>
    </div>
  </div>

  <div class="pr-category">Decks</div>

  <!-- TODO: Move to component? -->
  <!-- TODO NGFOR WITH FIREBASE -->
  <div class="container-fluid decks-container">
    <div class="row centered bottom-margin">
      <app-shop-item-card></app-shop-item-card>
      <app-shop-item-card></app-shop-item-card>
      <app-shop-item-card></app-shop-item-card>
      <app-shop-item-card></app-shop-item-card>
      <app-shop-item-card></app-shop-item-card>
      <app-shop-item-card></app-shop-item-card>
      <app-shop-item-card></app-shop-item-card>
      <app-shop-item-card></app-shop-item-card>
    </div>
  </div>

  more Content more content
  <br />
  <br />

  <br />

  <br />

  <br />
</div>
