<div class="g-page-container">
  <div class="jumbo-featured">
    <div class="featured">
      <div class="picture-ph pic">Picture here</div>
    </div>
    <div class="featured">
      <div class="picture-ph">Content about new deck here</div>
    </div>
  </div>

  <div class="pr-category">Decks</div>

  <!-- TODO: Move to component? -->
  <div class="container-fluid decks-container">
    <div class="row centered">
      <div class="col-sm deck-container ml-1 mr-1 mb-2">
        One of three columns
      </div>
      <div class="col-sm deck-container ml-1 mr-1 mb-2">
        One of three columns
      </div>
      <div class="col-sm deck-container ml-1 mr-1 mb-2">
        One of three columns
      </div>
      <div class="col-sm deck-container ml-1 mr-1 mb-2">
        One of three columns
      </div>
    </div>
  </div>

  more Content more content
  <br />
  <br />

  <br />

  <br />

  <br />
</div>
