.jumbo-featured {
  width: 100%;
  // background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  background: orangered;
  margin-top: -12px;
  height: 400px;
  display: flex;
}

@media (min-width: 660px) {
  .jumbo-featured {
    margin-top: 8px;
  }
}

.featured {
  background: transparent;
  width: 50%;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.picture-ph {
  background: black;
  opacity: 0.5;
  background-clip: content-box;
  height: 100%;
  padding: 26px;

  font-family: "Raleway", sans-serif;
  font-weight: 300;

  &.pic {
    padding: 14px !important;
  }
}

.pr-category {
  min-height: 64px;
  font-family: "Raleway", sans-serif;
  padding: 16px;
  font-size: 2.5rem;
  text-align: center;
}

.centered {
  justify-content: center !important;
}

.deck-container {
  text-align: center;
  // background: lightgoldenrodyellow;
  // border: 1px solid black;
  min-width: 280px !important;
  max-width: 280px !important;
  height: 450px;
  padding: 0 !important;
}

.deck-img {
  height: 72%;
  background: lavender;
}

.deck-txt {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 3px;

  &.price {
    margin-top: 0px;
    font-weight: 300;
    font-size: 1.3rem;
  }
}

.deck-add {
  margin-top: 8px;
}
