<div class="g-page-container">
  <div class="pr-category">Decks</div>

  <!-- TODO: Move to component? -->
  <!-- TODO NGFOR WITH FIREBASE -->

  <!-- TODO ADD TIMESTAMP FOR SORT -->
  <div class="container-fluid decks-container">
    <div class="row centered bottom-margin">
      <app-shop-item-card
        *ngFor="let item of availableDecks$ | async"
        [productObject]="item"
        [title]="item.title"
        [price]="item.price"
        [id]="item.id"
        [description]="item.description"
        [imageBaseUrl]="cdnBaseUrl"
        [imagePathUrl]="'/decks/deck-' + item.id + '.jpg'"
      ></app-shop-item-card>
    </div>
  </div>
  <app-footer></app-footer>
  <app-alert></app-alert>
</div>
