.deck-container {
  text-align: center;
  min-width: 280px !important;
  max-width: 280px !important;
  height: 500px;
  padding: 0 !important;
}

.deck-img {
  height: 66%;
  background: lavender;
  overflow: hidden;

  img {
    width: 571px;
    margin-left: -51%;
    margin-top: -5%;
  }
}

.deck-txt {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 3px;

  &.sub {
    font-size: 1rem;
    font-weight: 300;
  }

  &.price {
    margin-top: 0px;
    font-weight: 300;
    font-size: 1.3rem;
  }
}

.deck-add {
  margin-top: 4px;
}
