<div
  id="x"
  class="col-sm deck-container ml-2 mr-2 mb-5"
  [ngClass]="productObject.sold ? 'disable-hover' : ''"
  [ngClass]="(isHoveringOverImage$ | async) === true ? 'push-out' : ''"
>
  <div
    (mouseenter)="mouseEnter('deck-img')"
    (mouseleave)="mouseLeave('deck-img')"
    class="deck-img view overlay"
    mdbWavesEffect
    (click)="openDetailModal()"
    [ngClass]="productObject.sold ? 'disable-hover' : ''"
  >
    <div *ngIf="productObject.sold" class="sold-overlay"></div>
    <span class="sold-out" *ngIf="productObject.sold">Sold</span>

    <img
      [ngClass]="{
        'zoomed-out': productObject.zoom_out === true && !isSpecial,
        'zoomed-out-more': productObject.zoom_out === true && isSpecial
      }"
      src="{{ imageSrc }}"
    />

    <div *ngIf="isSpecial" class="remain-ctr">
      <span style="width: 63px" class="sold-out remaining">{{
        (customDeckRemainingCount$ | async)?.count
      }}</span>
      <span
        class="sold-out remaining"
        style="
          left: 8px !important;
          top: 55px !important;
          font-size: 14px !important;
          text-align: center !important;
        "
        >REMAINING</span
      >
    </div>

    <div *ngIf="!isSpecial" class="mask flex-center rgba-black-light">
      <p class="white-text view-more-text">
        View<mat-icon class="view-more-icon">zoom_in</mat-icon>
      </p>
    </div>

    <div *ngIf="isSpecial" class="mask flex-center rgba-black-light">
      <p class="white-text view-more-text">
        Build<mat-icon class="view-more-icon">build</mat-icon>
      </p>
    </div>
  </div>

  <div
    class="info-container"
    [ngClass]="(isHoveringOverImage$ | async) === true ? 'push-down' : ''"
  >
    <div class="deck-txt" [ngClass]="isSpecial ? 'bold' : ''">{{ title }}</div>
    <div class="deck-txt sub" [ngClass]="isSpecial ? 'bold' : ''">
      {{ description }}
    </div>
    <div class="deck-txt price" [ngClass]="isSpecial ? 'bold' : ''">
      ${{ price }}
    </div>
    <div class="deck-add">
      <button
        (mouseenter)="mouseEnter('add-cart')"
        (mouseleave)="mouseLeave('add-cart')"
        mdbBtn
        type="button"
        color="success"
        mdbWavesEffect
        (click)="actionButtonHandler($event, productObject)"
        [ngClass]="(isInCart$ | async) === true ? 'danger-button' : ''"
        [disabled]="productObject.sold"
      >
        <div class="btn-txt-con">
          <mat-icon
            style="
              font-size: 20px;
              position: absolute;
              left: -23px;
              top: -2px;
              margin-top: 0px !important;
            "
            *ngIf="isSpecial"
            class="view-more-icon"
            >build</mat-icon
          >

          <mat-icon
            style="
              font-size: 20px;
              position: absolute;
              left: -23px;
              top: -2px;
              margin-top: 0px !important;
            "
            *ngIf="!isSpecial"
            class="view-more-icon"
            >add_shopping_cart</mat-icon
          >
          <span
            [ngClass]="
              (isInCart$ | async) === true
                ? 'add-button-text white-text'
                : 'add-button-text'
            "
            class="bold"
            >{{
              (isInCart$ | async) === true
                ? "Remove from Cart"
                : actionButtonText
            }}</span
          >
        </div>
      </button>
    </div>
  </div>
</div>

<!-- TODO OBSERVE AT TOP -->

<!-- TODO MAKE FUNCS FOR CONDITIONS -->
