/* ---------------------------- Heights & Widths ---------------------------- */
$navbar-height: 70px;

/* ---------------------------------- Fonts --------------------------------- */
$site-font: "DM Sans";
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;

/* --------------------------------- Colors --------------------------------- */
$site-primary-color: #55bfff;
$active-route-color: #76858c;
$mdb-success: #00c851;
