/* ---------------------------- Heights & Widths ---------------------------- */
$navbar-height: 70px;

/* ---------------------------------- Fonts --------------------------------- */
$site-font: "DM Sans";

/* --------------------------------- Colors --------------------------------- */
$site-primary-color: #55bfff;
$active-route-color: #76858c;
