/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

$navbar-height: 64px;

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

// Remove drop shadow from MD buttons
.btn {
    box-shadow: unset !important;
}

/* ------------------- Styles needed for nav bar behavior ------------------- */
.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: darkslateblue;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: darkslateblue;
    }
}